@import "variebles";

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #0D0D0D;
    &_left {
        color: #fff;
        text-align: left;
        font-size: 36px;
    }
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantage";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";

@import "media";