.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    transition: all .3s linear;
    &:hover {
        background: #ff2230;
        transition: all .3s linear;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
        margin-top: 65px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}